[client]
port    = 3306
socket    = /data/mysql/mysql.sock


[mysql]
prompt="\u@mysqldb \R:\m:\s [\d]> "
no-auto-rehash    #默认是不使用自动补全功能的,想要启用把no去掉即可


[mysqld]
user    = mysql
port    = 3306
basedir    = /usr/local/mysql
datadir    = /data/mysql/data
socket    = /data/mysql/mysql.sock
#pid-file = mysqldb.pid
character-set-server = utf8mb4
skip_name_resolve = 1	#禁止域名解析
secure-file-priv=/tmp  #设置into output导出文件安全路径
#若你的MySQL数据库主要运行在境外，请务必根据实际情况调整本参数
#default_time_zone = "+8:00"

#从库设置为只读
#read_only=on
#super_read_only=on

# 将从库的2个日志文件格式设置为TABLE,这样创建出来的表默认是innodb存储器引擎,可以与变更的事务保持一致性,
# 使意外故障的回复效率更高效
#master_info_repository = TABLE
#relay_log_info_repository = TABLE

#慢日志开启
slow_query_log = 1
slow_query_log_file = /data/mysql/slow.log
long_query_time = 0.1
log_queries_not_using_indexes =1        #不走索引的sql也记录

#开启错误日志
log_error=/data/mysql/mysql.log

#开启二进制日志
log-bin = /data/mysql/mysql-bin.log
binlog_format = row
expire_logs_days = 7

#开启GTID
gtid-mode=on
enforce_gtid_consistency = 1
server-id = 3306

#开启错误日志
log-error = /data/mysql/error.log

#开启双一
innodb_flush_log_at_trx_commit = 1
sync_binlog = 1

#binlog_cache_size = 4M
#max_binlog_cache_size = 2G
#max_binlog_size = 1G


[mysqldump]
quick
max_allowed_packet = 32M
